*{
    margin:0rem;
    padding: 0rem;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    
}
:root{
    --Grayish-blue: hsl(220, 15%, 55%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Dark-blue: hsl(218, 44%, 22%);
}
.QR__container{
    display: flex;
    flex-direction: column;  
    width: 317px;
    height: 495px;
    background-color:var(--White);
    border : 1px solid var(--White);
    border-radius: 10px;
    margin: auto;
    margin-top: 5rem;
}
.QR__image{   
    width: 284px;
    height: 286px; 
    margin: auto;
    margin-top: 1rem; 
    border: 1px solid --White;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.QR__text-1{
    width: 65%;    
    font-size: 1rem;
    font-weight: 700;  
    color:var(--Dark-blue); 
    margin: auto;
    margin-top: 1rem;    
    text-align: center;
    margin-bottom: 1rem; 
            
} 
.QR__text-2{    
    width:65%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;  
    color:var(--Grayish-blue);
    margin: auto;
    margin-top: 0.5rem;
} 